@using DevOps.ViewModels.Accounts
@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}
<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="login-form">
               
                <div asp-validation-summary="All" class="text-danger"></div>
                <form asp-controller="account" asp-action="login" method="post">
                    
                    <div class="form-group">
                        <label class="" asp-for="Email"></label>
                        <input placeholder="Email address" asp-for="Email" />
                    </div>
                    
                    <div class="col-sm-3 form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" />
                    </div>
               
                    <span>
                        <input asp-for="RememberMe">
                        Keep me signed in
                    </span>

                    <hr />

                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
                <a asp-controller="account" asp-action="register">create new account from here</a>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>